/* contact */

#section-contact {
    width: 100vw;
    min-height: 100vh;
    margin-top: 5rem;
}

.container-post {
    width: fit-content;
    margin: 0 auto;
}

.wrapper-header {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0.8rem 0;
    margin-bottom: 20px;
    background-image: linear-gradient(90deg, var(--light-blue) 0 20%, #dedede 20%);
    background-repeat: no-repeat;
    background-size: 100% 5%;
    background-position: bottom;
}

article {
    width: 80vw;
    max-width: 600px;
    height: fit-content;
    margin: 0 auto;
}

.notion {
    width: 100%;
    height: fit-content;
    padding: 20px 5px;
}

form {
    background-color: #f3f1f1;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

form p {
    display: inline-block;
    margin-top: 1rem;
}

input {
    width: 100%;
    height: 28px;
    padding-left: .2rem;
    font-size: 16px;
}

input[type="submit"] {
    height: 35px;
    background-color: var(--light-blue);
    color: #ffffff;
    border: solid 1px var(--black);
    cursor: pointer;
    font-size: 16px;
}

textarea {
    width: 100%;
    resize: none;
    padding: 1rem;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    article {
        width: 90vw;
    }
}
